:root {
  --bar-height: 3px;
  --button-height: 20px;
  --button-width: 25px;
}

.navmenu {
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
}

.navmenu div {
  padding: 0;
  margin: 0;
  position: absolute;
  width: var(--button-width);
  height: var(--bar-height);
  background-color: white;
  transition: all ease-in-out 500ms;
}

.navmenu:hover div {
  background-color: #fe8926;
}

.navmenu div:nth-child(1) {
  top: 0;
}

.navmenu div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.navmenu div:nth-child(3) {
  bottom: 0;
}

.navmenu.open div:nth-child(1) {
  --move: calc(var(--bar-height) * 2 + 100%);
  transform: translateY(var(--move)) rotateZ(45deg);
}

.navmenu.open div:nth-child(2) {
  width: 0;
  transform: translateX(15px);
}

.navmenu.open div:nth-child(3) {
  --move: calc(var(--bar-height) * -2 - 100%);
  transform: translateY(var(--move)) rotateZ(-45deg);
}
